/* Базові стилі */
.App {
  /* rgb(9, 109, 151)   rgb(24, 128, 176)  */
  background-color: rgb(9, 109, 151); 
  height: 100vh;
  width: 100%;
}

a {
  text-decoration: none; /* Забирає підкреслення */
  color: inherit; /* Наслідує колір від батьківського елемента */
}
